boto3==1.17.112
botocore==1.20.112
certifi==2021.10.8
cffi==1.15.1
chardet==4.0.0
cryptography==3.3.2
enum34==1.1.10
futures==3.4.0
idna==2.10
ipaddress==1.0.23
jmespath==0.10.0
lxml==4.9.0
mutagen==1.42.0
numpy==1.16.6
Pillow==6.2.2
pycparser==2.21
pyOpenSSL==21.0.0
pysqlcipher3==1.0.4
python-dateutil==2.8.2
PyWavelets==1.0.3
requests==2.27.1
s3transfer==0.4.2
scipy==1.2.3
six==1.16.0
Unidecode==1.2.0
urllib3==1.26.9
